
<div class="exercise-card" *ngIf="exercise">
 <h2 class="heading">Alternate</h2>

  <ol class="exer-info">
    <li class=" exer-info exercise ex-1">{{exercise.titles[0]}}</li>
    <li class="exer-info exercise ex-2">{{exercise.partnerExercise}}</li>
  </ol>

  <h2 class="heading">Sets/Reps</h2>
  <p class=" exer-info sets-reps">{{exercise.setsReps[0]}}</p>

</div>

<!-- the "0" index selection for the titles and setReps array will be replaced by "numOfRolls" -->
<!-- 
Need to add a info button next to exercise-title and partner-exercise
when clicked > send exercise to exercise-details component
exercise-details component > popout that will display step-by-step instructions, photos, and cues for each exercise -->