/* div.exercise-card {
	max-width: 30em;
} 

h2#exercise-title {
	margin-bottom: .25em;
	margin-top: .5em;
	font-size: 1.75em;
}

h3#exercise-sets-reps {
	font-size: 1.25em;
	margin: 0 auto;
	color: #050c79;
}

p#partner-exercise {
	font-size: 1.15em;
	color: #050c79;
	margin: 0.5em auto;
} */