
.hidden {
  display: none
}

h2.how-to {
	color: #fff;
	margin: .5em auto .25em;
	font-size: 1.2em;
}

ol.directions {
	font-size: 1em;
	max-width: 20em;
	margin: 0 auto;
	padding-top: .25em;
	text-align: justify;
}

li.play-directions, p.warning {
	line-height: 1.5;
	margin: 0 .5em;
}

h3 {
	color: #FF9800;
	margin: 0 auto;
	width: 100%;
	padding: .25em;
	font-size: 1.1em;
}

p.warning {
	max-width: 20em;
	text-align: justify;
	margin: 0 auto .5em;
	padding: .25em
}

label {
	color: #FF9800;
	padding: .25em;
	font-size: 1em;
}

#numOfRounds {
	color: #040869;
	width: 2em;
  font-size: 1em;
	margin: .25em auto;
	padding: .1em .25em;
	border-radius: 5px;
}

button.play-btn {
	width: 6em;
	height: 1.75em;
	margin: auto .5em;
}

@media only screen and (min-height: 440px) {
	h2.how-to {
		font-size: 1.75em;
	}

	ol.directions {
		padding-top: .5em;
	}

	h3 {
		font-size: 1.5em;
	}

	li.play-directions, p.warning {
		line-height: 1.75;
	}

}

@media only screen and  (min-width: 378px) {
	ol.directions, p.warning {
		max-width: 30em;
	}
}
