<h2 class="how-to">How to Play</h2>
<ol class="directions">
  <li class="play-directions">Enter the number of rounds you would like to play below.</li>
  <li class="play-directions">Click "Play" or press "Enter" to begin the game.</li>
  <li class="play-directions">Once the game begins, click on the die or "Roll" or press "Enter" to roll the dice.</li>
  <li class="play-directions">Alternate between the main exercise and partner exercise to complete each round.</li>
</ol>
<h3 class="warning">Warning:</h3>
<p class="warning"> The difficulty of the exercise increases each time you roll a number previously rolled.</p>
<form #form="ngForm">
  <div class="formGroup">
    <label for="numOfRounds">
      Number of Rounds: (2-8)
    </label>
    <input
      [(ngModel)]="numOfRounds"
      name="numOfRounds"
      id="numOfRounds"
      type="number"
      min="2"               
      max="8"
      (keyup.enter)="startGame()"
    >

    <button 
      class="button play-btn" 
      [class.active]="isActive"
      (click)="startGame()"
    >
      Play
    </button>
    <div 
      class="alert"
    >
      <div [class.hidden]="!nullError">
        Please choose the number of rounds to play.
      </div>
      <div [class.hidden]="!showError">
        Please choose between 2 and 8 rounds.
      </div>
    </div>
  </div>

</form>
