#roll-btn {
	width: 5em;
	height: 1.75em;
	box-shadow: -1px 2.25px 1px #dc8300;
	margin: .75em auto;
}

#die {
	background-image:url('/assets/images/6-sided-dice.svg.med.png');
    height:49px;
    width:49px;
    margin: 0 auto .25em;
}

.dice_1 {
    background-position:0px 0px;
}

.dice_2 {
    background-position:-50px 0px;
}

.dice_3 {
    background-position:-100px 0px;
}

.dice_4 {
    background-position:-151px 0px;
}
.dice_5 {
    background-position:-201px 0px;
}

.dice_6 {
    background-position:-251px 0px;
}

