<div class="game-grid">
  <div class="col-1 row-1">
    <dice
      *ngIf="!roundsComplete"
      (click)="onPlay()"
      [diceClass]="diceClass"
    >
    </dice>
    <last-round-message *ngIf="roundsComplete"></last-round-message>
  </div>
  <div class="col-1 row-2">
    <exercise [exercise]="currentExercise"></exercise>
  </div>
  
  <div class="col-2 row-1-2">
    <rounds ></rounds>
  </div>

  <div class="bottom-controls bottom-row">
    <button 
      class="button control-btn"
      (click)="resetGame()"
    >
      Reset
    </button>
    <button 
      class="button control-btn"
      (click)="newGame()"
    >
      New Game
    </button>
  </div>
</div>