/*  grow size of button when hovered/active? */

.game-grid {
	display: grid;
	height: 87vh;
	grid-template-columns: 1fr auto;
	grid-template-rows: 25% 60% 15%;
	grid-column-gap: 0;
	justify-items: center;
	align-items: center;
}

div.col-1.row-1{
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	border-right: 0;
	min-width: 200px;
	height: auto;
	margin: 0;
}
div.col-1.row-2{
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;
	border-right: 0;
	min-width: 200px;
	height: auto;
	margin: 0;
	align-self: start;
}

div.col-2 {
	grid-column: 2 / span 2;
	grid-row: 1 / span 2;
	color: #626ca7;
	background-color: #050c79;
	width: auto;
	min-width: 200px;
	height: 100%;
}

/* add style for buttons at the bottom */
div.bottom-controls {
	width: 100%;
	margin: 0 auto;
	grid-column: 1 / span 3;
	grid-row: 3 / span 1;
}

button.control-btn {
	width: 50%;
	margin: 0;
	border: 1.5px solid #fff;
	border-radius: 0;
}

@media only screen and (min-device-width: 580px) {
	div.bottom-controls {
		grid-column: 1 / span 1;
	}

	button.control-btn {
		width: 20%;
		min-width: 10em;
		margin: 0 1em;
		height: 2.25em;
		border: 1px solid #fff;
		border-radius: 10px;
	}
}
