<form #form="ngForm">
  <div class="formGroup">
    <label for="numOfRounds">
      Number of Rounds: (2-8)
    </label>
    <input

      [(ngModel)]="numOfRounds"
      name="numOfRounds"
      id="numOfRounds"
      type="number"
      min="2"
      max="8"
      (change)="startGame()"
    >
    <button 
      class="button" 
      [class.active]="isActive"
      (click)="startGame()"
    >
      Play
    </button>
    <div 
      class="alert"
    >
      <div [class.hidden]="!nullError">
        Please choose the number of rounds to play.
      </div>
      <div [class.hidden]="!showError">
        Please choose between 2 and 8 rounds.
      </div>
    </div>
  </div>

</form>
