.body {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	min-height: 568px;
}
.top-row {
	height: 5%;
	width: 100%;
	text-align: justify;
	margin: 0;
	display: none;
}

h1.title {
  font: 1.5em 'Bowlby One SC', arial;
	margin: 0;
	margin-left: 1em;
	padding: .5em;
}

@media only screen and (min-height: 815px) {
	.top-row {
		display: block;
	}
}

