h2.title.col-2 {
	margin: 1.5em auto 0 auto;
	font: 1.75em 'Bowlby One SC', arial;
	min-height: 49px;
	color: #a6aae6;
}

div.rounds-info {
  grid-column-start: 2;
  color: #8a91bf;
  background-color: #050c79;
  min-width: 174px;
}

ul.round-num-boxes {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
li.round-num {
  display: inline-block;
  border: 1.5px solid #8a91bf;
  border-radius: 5px;
  padding: .25em;
  margin: .07em;
  font-size: 1.5em;
}

li.current-round {
  color: #fff;
  border: 1.5px solid #fff;
  font-weight: bold;
  border-radius: 5px;
  padding: .25em;
  margin: .07em;
}

ol.rounds {
  text-align: left;
}

li.round-info {
  padding-left: .5em;
  line-height: 1.75;
}

