h2.title.col-2 {
	margin: 0;
	font: 1.75em 'Bowlby One SC', arial;
	min-height: 49px;
	color: #a6aae6;
}

div.rounds-info {
  grid-column-start: 2;
  color: #8a91bf;
  background-color: #050c79;
  font-size: 1em;
}

ul.round-num-boxes {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
li.round-num {
  display: inline-block;
  border: 1.5px solid #8a91bf;
  border-radius: 5px;
  padding: .25em;
  margin: .07em;
  font-size: 1.1em;
}

li.current-round {
  color: #fff;
  border: 1.5px solid #fff;
  border-radius: 5px;
  padding: .25em;
  margin: .07em;
}

ol.rounds {
  text-align: left;
}

li.round-info {
  padding: 0 .5em;
  line-height: 1.5;
  font-size: .85em;
}

@media only screen and (min-height: 815px) {
  
  h2.title.col-2 {
    margin: 1.5em auto 0 auto;
  }

  li.round-num {
    font-size: 1.5em;
  }

  li.round-info {
    line-height: 1.75;
    font-size: 1.25em;
    max-width: 13em;
  }

}
